input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  .t_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .generate{
    margin: 1vmax;
    width: 12vmax;
    height: 3vmax;
    border: none;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border-radius: 7px;
  }
  .generated_testcases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .generated_testcases button{
    margin: 1vmax;
    width: 12vmax;
    height: 3vmax;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 148, 64);
    color: white;
    border-radius: 7px;
  }
.button{
    display: flex;
}
.generate:active{
    scale: 0.9;
}
.tc{
    margin: 1vmax;
    width: 12vmax;
    height: 3vmax;
    border: none;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border-radius: 7px;
}
.tc:active{
    scale: 0.9;
}
.generated_testcases pre{
    border: 1px solid black;
    padding: 1vmax;
    width: 70vmax;
    
}